/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
/*   border: 1px solid red; */
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* 
    SITE COLORS for your reference:
    (refer to styleguide.jpg for hex codes or use Sip to pick colors from design)

    White - #ffffff;
    Light Grey - #d4e1db
    Dark Grey - #3c3a3a
    Grey/Black(text color) - #080808
    Yellow - #FEDB0D
    Red - #FF0121
*/


/* Global
   ================================================================ */
body {
  color:#080808;
  /* Set some defaults! font-family, font-size, color, etc. */
}

/* Text Styles (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.)
   ================================================================ */
a {
  text-decoration: none;
  /* Set some default styles for anchors (color, text decoration) */
}

a:hover{
  color: #FEDB0D;
}

p{
  font-family: 'Source Sans Pro', 'sans-serif';
  padding-bottom: 10px;
  margin-top: 5px;
  line-height: 28px;
  font-size:18px;
}
h1{
  font-family:'Merriweather', 'sans-serif';
  font-weight: 400px;
}

h2{
font-family: 'Source Sans Pro', 'sans-serif';
font-size: 30px;
display: inline;
margin: 0px;
}

h3{
  font-family:'Merriweather', 'sans-serif';
  font-size: 24px;
  display:inline;
}

strong{
  text-transform: uppercase;
  font-family:'Oswald', 'sans-serf';
}

li{
  font-family: 'Source Sans Pro', 'sans-serif';
}

/* Layout (columns, floats, etc.)
   ================================================================ */


h1{
  float: left;
  display:inline-block;
  width:50%;
  padding-left: 30px;
  font-weight: lighter;
}

nav{
  float: right;
  display:inline-block;
  width: 50%;
  padding-top: 15px;
}

li{
  display: inline-block;
  width:19%;
  text-align: center;
}

.tagline{
  clear:both;
  text-align: center;
  font-family: 'Merriweather', 'sans-serif';
  font-style: italic;
  font-size:24px;
  background-color: #D4E1DB;
  margin:0px;
  padding: 20px 0px 20px 0;
}

.blurb{
  float:right;
  width: 40%;
  margin:30px 20px 30px;
  padding:40px 30px 40px 30px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 3px 0px #3c3a3a;
}

.infoboxes{
  clear:both;
}

.info{
  clear:both;
  display: inline-block;
  width: 33%;
  padding: 20px 30px 20px 30px;
  margin: 30px 0px 30px 0px;
}

#bordered{
  border-right: 1px solid #D2D2D2;
  border-left: 1px solid #D2D2D2;
}

/* Header
   ================================================================ */
header{
  background-color:#3c3a3a;
  border-bottom: 5px solid #FEDB0D;
} 

header a{
  color: #fff;
  font-weight: lighter;
}

/* Footer
   ================================================================ */
footer{
  clear: both;
  background-color:#3c3a3a;
  padding: 18px 0px 5px 25px;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: normal;
  color: #fff;
  font-size:20px;
  margin-bottom: 5px;
}


/* Navigation
   ================================================================ */
  

/* Banner
   ================================================================ */
.banner{
  background-image:url('../images/coworking.jpg');
  background-position: center;
  background-size: cover;
  clear: both;
  box-shadow: 0px 0px 3px 1px #3c3a3a;
}

/* Buttons
   ================================================================ */

.button{
  text-align: center;
  font-family:'Oswald', 'sans-serf';
  text-transform:uppercase;
  width: 100%;
  display: inline-block;
  font-size: 18px;
  padding: 8px 0px 8px 0px;
  border-radius:5px;
}

.blurb a{
  color: white;
  background-color: #F74748;
  border-bottom: 2px solid #cc001a;
}

.blurb a:hover{
  background-color: #cc001a;
}

.info a{
  background-color: #d4e1db;
  color: #080808;
  border-bottom: 2px solid #a9b4af;
}

.info a:hover{
  background-color:#a9b4af;
}