/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
   border: 1px solid red; 
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* 
    SITE COLORS for your reference:
    (refer to styleguide.jpg for hex codes or use Sip to pick colors from design)

    White - #ffffff;
    Light Grey - #d4e1db
    Dark Grey - #3c3a3a
    Grey/Black(text color) -
    Yellow -
    Red -
*/


/* Global
   ================================================================ */
body {
  
  /* Set some defaults! font-family, font-size, color, etc. */
}

/* Text Styles (a, a:hover, a:visited, a:active, p, h1, h2, h3, h4, etc.)
   ================================================================ */
a {
  text-decoration: none;
  /* Set some default styles for anchors (color, text decoration) */
}
p{
  font-family: 'Source Sans Pro', sans-serif;
}
h1{
  font-family:'Merriweather', 'sans-serif';
}
h3{
  font-family:'Merriweather', 'sans-serif';
}

strong{
  text-transform: uppercase;
  font-family:'Oswald', 'sans-serf';
}

li{
  font-family: 'Source Sans Pro', sans-serif;
}

/* Layout (columns, floats, etc.)
   ================================================================ */
header a{
  color: #fff;
  font-weight: lighter;
}
h1{
  float: left;
  display:inline-block;
  width:50%;
}

nav{
  float: right;
  display:inline-block;
  width: 50%;
  padding-top: 15px;
}
li{
  display: inline-block;
  width:19%;
  text-align: center;
}
.tagline{
  clear:both;
  text-align: center;
  font-family: 'Merriweather', 'sans-serif';
  font-style: italic;
  font-size:24px;
  background-color: #D4E1DB;
  margin:0px;
  padding: 10px 0px 10px 0;
}
.blurb{
float:right;
width: 40%;
margin:30px 20px 30px;
border: 1px solid #3c3a3a;
padding:40px 30px 40px 30px;
}

.infoboxes{
  clear:both;
}
.info{
  clear:both;
  display: inline-block;
  width: 33%;
  padding: 30px 20px 30px 20px;
}

/* Header
   ================================================================ */
header{
background-color:#3c3a3a;
border-bottom: 5px solid #FEDB0D;
} 


/* Footer
   ================================================================ */
footer{
  clear: both;
  background-color:#3c3a3a;
  padding: 15px 0px 15px 10px;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-weight: normal;
  color: #fff;
}


/* Navigation
   ================================================================ */
  

/* Banner
   ================================================================ */
.banner{
  background-image:url('../images/coworking.jpg');
  background-position:center;
  background-size: 100%;
  clear: both;
}

/* Buttons
   ================================================================ */